# docker-compose.yml
version: '3.8'

services:
  task-service:
    build: ./task_service
    container_name: task-service
    ports:
      - "3002:3002"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - TASK_DB_NAME=${TASK_DB_NAME}
      - TASK_SERVICE_PORT=3002
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=Task
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data: